/*imported font size to the website*/
@import url('https://fonts.googleapis.com/css?family=Merienda+One|Lora|Open+Sans&display=swap');

/*body font size, margins and background color*/
body {
  font-family: 'Open Sans', Arial, sans-serif;
  margin-right: 15%;
  margin-left: 15%;
  background-color: whitesmoke;
}

/*making the body and the html website responsive height wise*/
body, html {
  height: 100%;
}

/*adding padding of 1rem to the nav menu and a sky blue color in hex values*/
nav {
  padding: 1rem;
  background-color:#87CEEB;
  width: 100%;
}

/*changing color to the paragraphs whitin the nav menu*/
nav > a {
  text-decoration: none;
  color: white;
  margin: 1rem;
}  

div {
  display: block;
}

h1 {
  font-size: 2.5rem;
  margin: 0;
}

  h2 {
  font-size: xx-large;
}

h1,h2 {
  font-family: 'Lora', serif;
}

.image1{
  width:100%; 
  height:360px; 
}

.pmargin1{
  display: block;
  overflow: auto;
  border: transparent;
  padding-left:2%;
}

.image2{
  width:100%; 
  height:330px; 
}

.pmargin2{
  display: block;
  overflow: auto;
  border: transparent;
  padding-right:2%;
}
.page-header1 {
  width: 100%;
  background: center / cover no-repeat;
}

.background-body{
  text-align: center;
  background-image: url(https://www.azamara.com/sites/default/files/heros/1800x1000-punta-cana.jpg);
  background-size: cover;
}

/*class that sends an object to the right*/
.float-Right{
  float:right;
}

/*class that sends an object to the left*/
.float-Left{
  float:left; 
}

/*header styles*/
header{
  color:white;
  text-transform:capitalize;
  text-align: center;
  margin:0;
  padding:0;
}

/*sky blue color id*/
#skyblue{
  background-color:#87CEEB;
}

/*class to center texts*/
.text-center {
    text-align: center;
}

/*class that adds an image to the header, 15% of viewport height, centered background to 75%, covers the conteiner with the image size and no-repeat so the image doesn´t show more than once*/
.page-header {
  width: 100%;
  background: center / cover no-repeat;
  background-image: url("https://www.azamara.com/sites/default/files/heros/1800x1000-punta-cana.jpg");
}

.block-label {
  display: block;
}

/*vertically centers content to 30% from the top*/
.vertical-center {
    position: relative;
    top: 30%;
}

/*this class transforms text to UPPERCASE*/
.text-uppercase {
  text-transform: uppercase;
}

.marginTopBottom{
  margin-top:-5%; 
  margin-bottom:5%;
}

/*map wrappers and size*/
#map-wrapper {
    height: 300px;
    margin-bottom: 107px;
}

#map {
    height: 100%;
    width: 100%;
    border: none;
}
  
a:hover {
  color: blue;
  text-decoration: none;
}

/*social networks icons and styles*/
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

 .fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #833AB4;
  color: white;
}

/*footer styles*/
footer {
  
  justify-content: center;
  width: 100%;
  height: auto;
  position-bottom: fixed;
  display: inline-block;
  text-align: center;
  color: black;
  text-transform: uppercase; 
}
  /*footer hyperlinks hovers to pink*/
  footer > a:hover {
  color: pink;
  text-decoration: none;
    }

    fieldset {
      border: none;
      margin-top: 20px;
      width: 100%;
      text-align: center;
    }
    
    input[type=submit] {
      margin-top: 20px;
      margin-left: 0.75rem;
      padding: 0.75rem;
      background-color: #87CEEBd6;
      color: white;
      border: none;
      border-radius: 5px;
    }
    
    input[type=reset] {
    
      margin-top: 20px;
        margin-left: 0.75rem;
        padding: 0.75rem;
        background-color:#87CEEBd6;
        color: white;
        border: none;
        border-radius: 5px;
    }
    
    input[type=text],
    input[type=email]{
        height: 30px;
        width: 90%;
        padding-left: 10px;
      margin: 0 auto;
    }

    select {
      height: 36px;
      width: 100%;
      padding-left: 10px;
  }
  
  form {
    width: 100%;
    padding: 25px;
    border-radius: 8px;
    margin: 25px auto;
    background-color: white;
    display: inline-block;
}
  
  legend {
    font-size: large;
    font-weight: 600;
    text-transform: uppercase;
    margin: 20px 0 10px 0;
    width: 100%;
  }

  label {
    margin: 10px 15px 5px 0;
}

.fixFeedback{
  overflow: auto;
  width: 100%;
  display: inline-block;
}

input[type=submit]:hover{
  color:grey;
}

input[type=reset]:hover{
  color:grey;
}